{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  "mcp": {
    "context-mode": {
      "type": "local",
      "command": [
        "context-mode"
      ]
    },
    "gh_grep": {
      "type": "remote",
      "url": "https://mcp.grep.app",
    },
{{- if not .work }}
    "gitnexus": {
      "type": "local",
      "command": [
        "npx",
        "gitnexus",
        "mcp"
      ],
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
    },
{{- end }}
  },
  "agent": {
{{- if .work }}
    "explore": {
      "model": "github-copilot/gpt-5-mini",
    },
    "general": {
      "model": "github-copilot/gpt-5-mini",
    },
{{- end }}
    "plan": {
      "permission": {
        "webfetch": "allow",
        "bash": "allow",
        "edit": "deny",
      },
    },
  },
  "plugin": [
{{- if not .work }}
    "opencode-gemini-auth@latest",
    "./plugins/notify-tool.ts",
{{- end }}
    "opencode-beads",
    "superpowers@git+https://github.com/obra/superpowers.git",
    "context-mode"
  ],
  "permission": {
{{- if .work }}
    "gh_grep": "deny",
    "context7": "deny",
{{- end }}
  },
}
