{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $work := false -}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $work = promptBoolOnce . "work" "Is this a work machine?" -}}
{{- end -}}
{{- $pushoverUrl := "" -}}
{{- if and (not $work) (lookPath "op") -}}
{{-   $pushover := onepasswordDetailsFields "Pushover API Credentials" -}}
{{-   $pushoverUrl = printf "pover://%s@%s" $pushover.username.value $pushover.credential.value -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    work = {{ $work }}
    pushoverUrl = {{ $pushoverUrl | quote }}

[interpreters.ps1]
    command = "powershell"
    args = ["-NoLogo", "-NoProfile", "-ExecutionPolicy", "Bypass"]

# Run .nu chezmoi scripts on Windows (Unix uses the script's shebang instead).
[interpreters.nu]
    command = "nu"

[merge]
    command = "nvim"
    args = [
        "-d",
        "{{ `{{ .Destination }}` }}",
        "{{ `{{ .Source }}` }}",
        "{{ `{{ .Target }}` }}"
    ]
