[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[merge]
  conflictstyle = merge

[diff]
  colorMoved = default

[user]
	email = coopcarn@gmail.com
	name = CooperCarnahan

[pull]
	rebase = true

[rebase]
	autoStash = true
	autoSquash = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[alias]
  brt = "!git for-each-ref refs/heads --color=always --sort -committerdate --format='%(HEAD)%(color:reset);%(color:yellow)%(refname:short)%(color:reset);%(contents:subject);%(color:green)(%(committerdate:relative))%(color:blue);<%(authorname)>' | column -t -s ';'"

# 1password signing stuff
; [gpg]
; 	format = ssh
; [gpg "ssh"]
; 	program = /opt/1Password/op-ssh-sign
; [commit]
; 	gpgsign = true
; [user]
; 	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMYPV24Q0MK0k2PzTxvSGmJvYLT8JA5RnhwzHpro154o
[init]
	defaultBranch = main
