[user]
	email = coopcarn@gmail.com
	name = CooperCarnahan
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only --features=interactive --navigate
[delta]
  features = decorations
  line-numbers = true
  side-by-side = true
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[rebase]
	autoStash = true
	autoSquash = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
 [alias]
  brt = "!git for-each-ref refs/heads --color=always --sort -committerdate --format='%(HEAD)%(color:reset);%(color:yellow)%(refname:short)%(color:reset);%(contents:subject);%(color:green)(%(committerdate:relative))%(color:blue);<%(authorname)>' | column -t -s ';'"
