[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  pager = delta

{{- if eq .chezmoi.os "windows" }}
  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- else if eq .chezmoi.os "linux" }}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  sshCommand = ssh.exe
{{- end }}
{{- end }}

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[merge]
  conflictstyle = merge

[diff]
  colorMoved = default

[pull]
  rebase = true

[rebase]
  autoStash = true
  autoSquash = true

[alias]
  brt = "!git for-each-ref refs/heads --color=always --sort -committerdate --format='%(HEAD)%(color:reset);%(color:yellow)%(refname:short)%(color:reset);%(contents:subject);%(color:green)(%(committerdate:relative))%(color:blue);<%(authorname)>' | column -t -s ';'"
	fpush = push

  # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
  dlog = -c diff.external=difft log --ext-diff
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff
  # `git log` with patches shown with difftastic.
  dl = -c diff.external=difft log -p --ext-diff

  # Show the most recent commit with difftastic.
  ds = -c diff.external=difft show --ext-diff

  # `git diff` with difftastic.
  dft = -c diff.external=difft diff

{{- if contains "cooper" (lower .chezmoi.hostname) }}
# 1password signing stuff
[gpg]
  format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "windows" }}
  program = {{ .chezmoi.homeDir }}/AppData/Local/1Password/app/8/op-ssh-sign.exe
{{- else if eq .chezmoi.os "darwin" }}
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "linux" }}
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  program = "/mnt/c/Users/coopc/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
{{ end }}
{{- end }}
[commit]
  gpgsign = true

[user]
  email = coopcarn@gmail.com
  name = CooperCarnahan

  # 1password public key for github signing key
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIeClNytAT5eG6YM0L/giuA9pw9kRCgEmxEcz1uoa5yy
{{- end }}

[init]
  defaultBranch = main
[rerere]
  enabled = true
  autoUpdate = true
[branch]
  sort = -committerdate
