urls:
{{- if eq .chezmoi.os "darwin" }}
  - macosx://:
      tag: desk
{{- else if eq .chezmoi.os "windows" }}
  - windows://:
      tag: desk
{{- else }}
  - gnome://:
      tag: desk
{{- end }}
{{- if .pushoverUrl }}
  - {{ .pushoverUrl }}:
      tag: phone
{{- else }}
  # No Pushover URL configured. Re-run `chezmoi init` to set one.
{{- end }}
