[tools]
"aqua:dlvhdr/gh-dash" = "latest"
atuin = "latest"
bat = "latest"
carapace = "latest"
cargo-binstall = "latest"
"cargo:https://github.com/rtk-ai/rtk" = "latest"
ccache = "latest"
chezmoi = "latest"
claude = "latest"
cmake = "latest"
croc = "latest"
delta = "latest"
difftastic = "latest"
eza = "latest"
fastfetch = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
hyperfine = "latest"
jujutsu = "latest"
lazygit = "latest"
neovim = "latest"
ninja = "latest"
node = "latest"
"npm:@agentclientprotocol/claude-agent-acp" = "latest"
"npm:context-mode" = "latest"
opencode = "latest"
ripgrep = "latest"
rust = "latest"
starship = "latest"
television = "latest"
tmux = "latest"
uv = "latest"
watchexec = "latest"
yazi = "latest"
zellij = "latest"
zoxide = "latest"
